
@font-face {
  font-family: 'Gilroy-Black';
  src: url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),  url('Gilroy-Black.otf')  format('opentype'),
	     url('Gilroy-Black.woff') format('woff'), url('Gilroy-Black.ttf')  format('truetype'), url('Gilroy-Black.svg#Gilroy-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
