body {
  	font-family: sans-serif !important;
  }

nav {
	margin-top: -20px;
}
.main-text {
	vertical-align: middle;
	display: inline-block;
	margin-top: -3px;
}
.navigation > .conteiner {
    height: 50px !important;
    width: 100%;
    background-color:#880a4a;
    position: fixed !important;
    margin-top: -50px;
    z-index: 99999;
    border-bottom: 1px solid #fff;
  }

  .nav {
  display: inline-block;
  margin-top: -5px;
  }
  .navigation > .conteiner > .nav > li > a {
  color: #fff;
  padding: 16px 0 0 0;
  font-size: 16px;
  }
  .navigation > .conteiner > .nav > li > a:hover {
  color: #000;
  padding: 16px 0 0 0;
  background-color: #880a4a !important;
  }
  .navigation > .conteiner > .nav > li > a:active,
  .navigation > .conteiner > .nav > li > a:focus   {
  color: #000;
  padding: 16px 0 0 0;
  background-color:#880a4a;
  }

  .main-text {
	vertical-align: middle;
	display: inline-block;
	margin-top: -3px;
  }



#contactForm .form-control-feedback {
    pointer-events: auto;
}
#contactForm .form-control-feedback:hover {
    cursor: pointer;
}


h3 {
	margin-bottom: 30px !important;
	text-align: center;
}

.form-control {
	box-shadow: none !important;
	border-radius: 5px !important; 
}

#browse {
	margin-top: 10px;
}

.btn {
	border-radius: 20px !important;
	height: 24px;
	line-height: 50% !important;
	font-size: 18px !important;
	outline: none !important;
	background-color: #fff !important;
	border-color: #880a4a !important;
	color: #880a4a !important;	
}

.btn:focus,
.btn:hover,
.btn:active {
	color: #fff !important;
	background-color: #880a4a  !important;
}

.conteiner-form {
	margin-top: 70px;
}


@media screen and (max-width: 770px) {
	.btn {
		margin-right: 15px;
		margin-top: 30px;
	}
}

@media screen and (max-height: 568px) {
	.btn {
		margin-right: 15px;
		margin-top: 15px;
	}
	.h4 {
		font-size: 14px !important;
	}
	.form-control {
		font-size: 12px !important;
	}
	h3 {
		font-size: 18px !important;
	}

}



