
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),  url('Gilroy-Medium.otf')  format('opentype'),
	     url('Gilroy-Medium.woff') format('woff'), url('Gilroy-Medium.ttf')  format('truetype'), url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
