
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),  url('Gilroy-Regular.otf')  format('opentype'),
	     url('Gilroy-Regular.woff') format('woff'), url('Gilroy-Regular.ttf')  format('truetype'), url('Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
