body {
  	font-family: sans-serif, Arial !important;
  }

.navigation > .conteiner {
    height: 50px !important;
    width: 100%;
    background-color:#880a4a;
    position: fixed !important;
    margin-top: -50px;
    z-index: 99999;
    border-bottom: 1px solid #fff;
  }

   .nav {
  display: inline-block;
  }
  .navigation > .conteiner > .nav > li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  }
  .navigation > .conteiner > .nav > li > a {
  color: #fff;
  font-family: sans-serif !important;
  font-size: 16px;
  border-radius: 5px;

  }
   .navigation > .conteiner > .nav > li > a:hover {
  color: #000;
  background-color:#880a4a; 
  }
  .navigation > .conteiner > .nav > li > a:active,
  .navigation > .conteiner > .nav > li > a:focus   {
  color: #880a4a;
  background-color: #fff;
  }


.conteiner > .strelka > .top {
  background-color: #880a4a !important;
  color: #fff !important;
  
  
}
.conteiner > .strelka .top:active,
.conteiner > .strelka .top:hover {
  color: #000 !important;
}
.strelka {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}


.header {
	height: 200px;
	background-color: #fff;
	margin-top: 50px;
	z-index: 999;
  padding-bottom: 10px;
}
.logo > img {
  width: 200px;
	margin-top: 30px;
	border-radius: 35px;
}
.header-text {
	font-size: 38px;
	margin-top: 30px;
	margin-left: 20px;
}
.down-case {
  font-size: 32px;
}
.header-contacts {
	margin-top: 35px;
	text-align: right;
	font-size: 18px;
	letter-spacing: -1.2px;
}
.name {
	font-size:22px; 
  display: inline-block;
}
.header-icons {
  margin-top: 20px;
}
.padding-h-icon {
  margin-right: 9px;
}
.link {
  width: 32px;
  margin-left: 25px;
  margin-top: -16px;
}
.jumbotron {
	background: url(img-info/jumbotron.png) 0 0 no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 550px;
  margin-top: -5px;
  z-index: 1;
  margin-top: 0px;
 }
 .jumbotron-text {
 	color: #fff;
 	top: 25%;
  width: 80%;
  margin: 90px auto 0 auto !important;
 }
  .jumbotron > .jumbotron-text > p {
  	font-size: 36px;
  	font-family: sans-serif !important;
  }
  .block_1 {
	  background: url(img-info/fon1.jpg) 0 0 no-repeat;
  	background-size: cover;
  	text-align: center;
  	width: 100%;
  	height: 750px;
  	position: relative;
  	margin-top: -30px;
  	position: relative;
 }
  .block_1-text {
  	font-size: 30px;
  	margin-top: 50px;
  	position: absolute;
   	margin-left: 20%;
   	margin-right: 20%;
  }
  .step_conteiner {
  	display: inline-block;
  	margin-top: 20px;
  }
  .round_1 {
  	width: 80px;
  	height: 80px;
  	border-radius: 100%;
  	border:4px solid #880a4a;
  	background-color: #fff;
  	line-height: 75px;
  	font-size: 72px;
  	margin-top: 10px;
  	color: #880a4a;
  }
  .round_2 {
  	width: 80px;
  	height: 80px;
  	border-radius: 100%;
  	border:4px solid #275e78;
  	background-color: #fff;
  	line-height: 75px;
  	font-size: 72px;
  	margin-top: 10px;
  	color:#275e78; 
  }
  .round_3 {
  	width: 80px;
  	height: 80px;
  	border-radius: 100%;
  	border:4px solid #7e2381;
  	background-color: #fff;
  	line-height: 75px;
  	font-size: 72px;
  	margin-top: 10px;
  	color:#7e2381;
  }
  .step_1 {
  	text-transform: uppercase;
  	font-size: 18px;
  	border-radius: 10px;
  	border:2px solid #fff;
  	vertical-align: middle;
  	padding: 10px 20px 10px 20px;
  	color: #fff;
  	background-color: #880a4a;
  }
  .step_2 {
  	text-transform: uppercase;
  	font-size: 18px;
  	border-radius: 10px;
  	border:2px solid #fff;
  	vertical-align: middle;
  	padding: 10px 20px 10px 20px;
  	color: #fff;
  	background-color: #275e78;
  }
  .step_3 {
  	text-transform: uppercase;
  	font-size: 18px;
  	border-radius: 10px;
  	border:2px solid #fff;
  	vertical-align: middle;
  	padding: 10px 20px 10px 20px;
  	color: #fff;
  	background-color: #7e2381;
  }
  .btn-default {
  	margin-top: 30px;
  	border:2px solid #880a4a !important;
  	color: #880a4a !important;
  }
  .btn-default:hover {
  	background-color: #880a4a !important;
  	color:#fff !important;
  }
  .ghost-button {
    margin-top: 30px;
    display: inline-block;
    width: 300px;
    padding: 8px;
    color: #880a4a;
    background-color: #fff;
    border: 2px solid #880a4a;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    font-size: 22px;
    border-radius: 10px;
}
.ghost-button:hover,
.ghost-button:active {
    background-color: #880a4a ;
    color: #fff;
}
  #price {
  	height: 50px;
  	width: 100%;
  	color: #fff;
  	background-color:#880a4a;
  	clear: both;
  	margin-top: -20px;
  }
  #price > h2 {
  	line-height: 50px;
  }
  .info-graf-conteiner {
  	margin-top: 50px;
  }
  .info-graf-text {
  	font-size: 28px;
  }
  .price-conteiner {
  	clear: both;
  	padding-top: 15px;
  }
  .info-pics-conteiner {
  	clear: both;
  	padding-top: 50px;
  	font-size: 28px;
  }
  .pic-size {
    width: 220px;
    height: 220px;
  }
  .info-pics-conteiner > .col-md-4 > img {
  	border-radius: 30px;
  }
  .info-pics-conteiner > .col-md-3 > img {
    border-radius: 30px;
  }
  .info-pics-conteiner > p {
    clear: both;
    padding-top: 20px;
  }
  .reasons-conteiner {
    background: url(img-info/fon2.jpg) 0 0 no-repeat;
    background-size: cover;
  	margin-top: 50px;
  	width: 100%;
  }
  .reasons-conteiner > h3 {
    padding-top: 50px;
  	font-size: 38px;
  	color: #7e2381;
  	text-shadow: #fff 1px 0px, #fff 1px 1px, #fff 0px 1px, #fff -1px 1px, #fff -1px 0px, #fff -1px -1px, #fff 0px -1px, #fff 1px -1px;
  }
  .reasons-plus {
  	font-size: 22px;
  	background-color: #faf9fa;
  	width: 69%;
  	opacity: 30;
  	border-radius: 5px;
  	margin: 0 auto; /* Выравниваем слой по центру */  
  }

  .reasons-conteiner-2 {
    height: 800px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .elips {
    width: 320px;
    height: 140px;
    border-radius: 70px;
    background-color: #fff;
    border: 2px solid #880a4a;
    vertical-align: middle;
    font-size: 16px;
    padding: 26px 5px 0 5px;
  }

  .img-6 {
    height: 200px;
  }
  
  .space {
    margin-top: 30px !important; 
  }
  .space2 {
    margin-top: 20px !important; 
  }
#gallery_1 {
	 height: 50px;
  	width: 100%;
  	color: #fff;
  	background-color: #275e78;
  	clear: both;
  	margin-top: -20px;
}
#gallery_1 > h2 {
	line-height: 50px;
}
  #faq {
  	height: 50px;
  	width: 100%;
  	color: #fff;
  	background-color:#7e2381;
  	clear: both;
  }
  #faq > h2 {
  	line-height: 50px;
  }
  .faq-con {
  	background: url(img-info/fon3.jpg) 0 0 no-repeat;
  	background-size: cover;
  	width: 100%;
  	height: 500px;
  }
  .faq-conteiner {
  	margin-top: 50px;
  	text-align: center;
  }
  .panel-default {
  	border: 2px solid #880a4a !important;
  }
  .panel-heading {
  	text-transform: uppercase;
  	border-bottom: none !important;
  	background-color: #fff !important;
  }
  .panel-body {
  	background-color:#7e2381;
  	color: #fff;
  }
#comment {
  	height: 50px;
  	width: 100%;
  	color: #fff;
  	background-color:#880a4a;
  	clear: both;
  	margin-top: -20px;
  }
  #comment > h2 {
  	line-height: 50px;
  }

  .my-slider > ul > li {
  margin-top: 60px;
}

.center {
  margin-top: 100px;
}

.center2 {
  margin-top: 80px;
}
.center3 {
  margin-top: 50px;
}
.center4 {
  margin-top: 0px;
}
 .footer {
    height: 110px;
    background-color: #e1c2d2;
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
  }
  .footer-conteiner {
    letter-spacing: -1.2px;
  }
  .footer-icons {
    line-height: 130px;
    display: inline-block;
    float: none;
  }
  .padding-icon > i {
    margin-left: 9px;
  }
@media screen and (max-width: 1024px){
 	.header-text {
  font-size: 32px;
  margin-top: 30px;
  }
  .header-text > p {
    margin-left: 10px;
  }
  .down-case {
  font-size: 28px;
  }
  .jumbotron >.jumbotron-text > p {
  font-size: 36px;
  }
  .jumbotron-text {
  width: 70%;
 }
 .info-graf-conteiner > .col-md-1 {
  width: 120px;
  height: 120px;
 }
 .info-graf-text {
  font-size: 22px;
  margin-left: 30px;
 }

 .price-conteiner > .col-md-1 {
  width: 120px;
  height: 120px;
 }
 .elips-left {
  margin-left: -80px;
 }
 .elips-left-2 {
  margin-left: 0px;
  z-index: 2;
 }
 .img-6 {
  z-index: 1;
  margin-left: -15px;
 }
}
.step_1, .step_2, .step_3 {
    font-size: 16px;
  }
@media screen and (max-width: 800px) {
  .navigation > .conteiner {
    width: 800px;
    text-align: center;
  }
  .logo > img {
  margin-top: 30px;
  border-radius: 25px;
  width: 170px;
  height: 170px;
  }
  .header {
  height: 170px;
  }
  .header-text {
  font-size: 28px;
  margin-left: 100px;
  margin-top: 30px;
  }
  .header-text > p {
    margin-left: 40px;
  }
  .header-icons {
    margin-top: 0px;
  }
  .down-case {
  font-size: 22px;
  }
  .jumbotron >.jumbotron-text > p {
  font-size: 36px;
  }
  .jumbotron-text {
  width: 90%;
 }
 .block_1 {
  margin-top: -30px;
  padding-top: 10px;
  height: 800px;
 }
 .block_1-text {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .step_1, .step_2, .step_3 {
    font-size: 14px;
  }
  .info-icons > img {
    width: 90px;
    height: 90px;
  }
   .info-graf-text {
    font-size: 22px;
    margin-left: 60px;
  }
  .info-pics > img {
    width: 200px;
    height: 200px;
  }
  .reasons-conteiner-2 {
    height: 800px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .elips {
    width: 320px;
    height: 140px;
    border-radius: 70px;
    background-color: #fff;
    border: 2px solid #880a4a;
    vertical-align: middle;
    font-size: 16px;
    padding: 26px 5px 0 5px;
  }

  .img-6 {
    display: none;
  }
  
  .space {
    margin-top: 0px !important; 
  }
  .space2 {
    margin-top: 0px !important; 
  }
  .elips-left {
  margin-left: 0px;
 }
 .elips-left-2 {
  margin-left: 0px;
  z-index: 2;
 }
 .reasons-conteiner-2 {
  height: 900px;
 }
 .faq-con {
    height: 400px;
    padding-bottom: 480px;
  }
  .margin-l-6 {
    display: none;
  }
  .my-slider > ul > li {
margin-top: 60px;
}

.center {
  margin-top: 30px;
}

.center2 {
  margin-top: -100px !important;
}
.centring {
  margin-left: 80px;
}
.centring1 {
  margin-left: 40px;
}
.centring2 {
  margin-left: -10px;
}
.center3 {
  margin-top: 30px;
}
.center4 {
  margin-top: 30px;
}
.price-conteiner {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .navigation > .conteiner {
    text-align: center;
  }
  .logo > img {
  margin-top: 30px;
  border-radius: 25px;
  width: 170px;
  height: 170px;
  }
  .header {
  height: 170px;
  }
  .header-text {
  font-size: 22px;
  margin-left: 50px;
  margin-top: 30px;
  }
  .header-text >p {
    margin-left: 10px;
  }
  .header-icons {
    margin-top: 0px;
  }
  .down-case {
  font-size: 22px;
  }
  .jumbotron {
    margin-top: 14px;
  }
  .jumbotron >.jumbotron-text > p {
  font-size: 36px;
  }
  .jumbotron-text {
  width: 90%;
 }
 .block_1 {
  margin-top: -30px;
  padding-top: 10px;
  height: 800px;
 }
 .block_1-text {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .step_1, .step_2, .step_3 {
    font-size: 14px;
  }
  .info-icons > img {
    width: 90px;
    height: 90px;
  }
  .info-graf-text {
    font-size: 22px;
    margin-left: 60px;
  }
  .info-pics > img {
    width: 200px;
    height: 200px;
  }
  .reasons-conteiner-2 {
    height: 800px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .elips {
    width: 320px;
    height: 140px;
    border-radius: 70px;
    background-color: #fff;
    border: 2px solid #880a4a;
    vertical-align: middle;
    font-size: 16px;
    padding: 26px 5px 0 5px;
  }
  .img-6 {
    display: none;
  }
  .space {
    margin-top: 0px !important; 
  }
  .space2 {
    margin-top: 0px !important; 
  }
  .elips-left {
  margin-left: 0px;
 }
 .elips-left-2 {
  margin-left: 0px;
  z-index: 2;
 }
 .reasons-conteiner-2 {
  height: 900px;
 }
 .faq-con {
    height: 400px;
    padding-bottom: 480px;
  }
  .margin-l-6 {
    display: none;
  }
  .my-slider > ul > li {
margin-top: 60px;
}
.center {
  margin-top: 30px;
}
.center2 {
  margin-top: -100px !important;
}
.centring {
  margin-left: 80px;
}
.centring1 {
  margin-left: 40px;
}
.centring2 {
  margin-left: -10px;
}
.center3 {
  margin-top: 30px;
}
.center4 {
  margin-top: 30px;
}
}
@media screen and (max-width: 414px){
  .navigation > .conteiner {
  width: 414px;
  text-align:center;
  }
  .navigation > .conteiner > .nav > li > a {
  font-size: 10px;
  margin: 0 0 0 5px;
  padding: 0 0 0 0px;
  letter-spacing: -0.5px; 
  }
  .navigation > .conteiner > .nav > li {
    vertical-align: middle;
    margin-top: 16px;
  }
  .strelka {
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
  margin-left: 0px !important;
  font-size: 10px;
}
  .logo > img {
  margin-top: 10px;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  }
  .header {
  height: 100px;
  }
  .header-text {
  font-size: 14px;
  margin-left: 30px;
  margin-top: 10px;
  }
  .down-case {
  font-size: 14px;
  }
  .header-contacts {
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
  letter-spacing: -1.2px;
  }
  .header-contacts > .header-icons > a > i {
    font-size: 16px;
  }
  .name {
    font-size: 14px;
  }
  .link {
    width: 14px;
    margin-left: 15px;
    margin-top: -6px;
  }
  .header-icons {
  margin-top: 0px;
  }
  .jumbotron {
    margin-top: 0px;
  }
  .jumbotron >.jumbotron-text > p {
  font-size: 28px;
  }
  .jumbotron-text {
  width: 99%;
  margin-top: 30px !important;
  }
 .block_1 {
  margin-top: -30px;
  padding-top: 10px;
  }
 .block_1-text {
    font-size: 12px;
    margin-left: 1%;
    margin-right: 1%;
  }
  .step_1, .step_2, .step_3 {
    font-size: 12px;
  }
  .round_1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #880a4a;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color: #880a4a;
  }
  .round_2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #275e78;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color:#275e78; 
  }
  .round_3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #7e2381;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color:#7e2381;
  }
  .info-icons > img {
    width: 90px;
    height: 90px;
  }
  .info-graf-text {
    font-size: 18px;
    margin-left: 0px;
  }
  .info-pics-conteiner > p {
    font-size: 18px;
  }
  .info-pics > img {
    width: 200px;
    height: 200px;
  }
  .reasons-conteiner > h3{
    font-size: 28px;
    }
  .reasons-conteiner-2 {
    height: 850px;
    width: 100%;
    margin-left: 0px; 
  }
 #gallery_1 {
    margin-top: -20px !important;
  }
 .faq-con {
    height: 600px;
    padding-bottom: 500px;
    padding-top: 5px;
  }  
  .footer > .footer-conteiner > .col-xs-6 > a {
    font-size: 16px;
  }
  .footer > .footer-conteiner > .footer-icons > a > i {
    font-size: 32px;
  }
  h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 375px){
  .navigation > .conteiner {
    width: 375px !important;
    text-align:center;
  }
  .navigation > .conteiner > .nav > li > a {
  font-size: 10px;
  margin: 0 0 0 5px !important;
  padding: 0 0 0 0px;
  letter-spacing: -0.5px; 
  }
  .navigation > .conteiner > .nav > li {
    vertical-align: middle;
    margin-top: 12px;
  }
  .strelka {
  display: inline-block;
  margin-top: 12px;
}

  .logo > img {
  margin-top: 10px;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  }
  .header {
  height: 100px;
  }
  .header-text {
  font-size: 12px;
  margin-left: 40px;
  margin-top: 10px;
  }
  .down-case {
  font-size: 12px;
  }
  .header-contacts {
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
  letter-spacing: -1.2px;
  }
  .header-contacts > .header-icons > a > i {
    font-size: 16px;
  }
  .name {
    font-size: 14px;
  }
  .link {
    width: 14px;
    margin-left: 15px;
    margin-top: -6px;
  }
  .header-icons {
  margin-top: 0px;
  }
  .jumbotron {
    margin-top: 0px;
  }
  .jumbotron >.jumbotron-text > p {
  font-size: 28px !important;
  }
  .jumbotron-text {
  width: 99%;
  margin-top: 30px !important;
  }
 .block_1 {
  margin-top: -30px;
  padding-top: 10px;
  }
 .block_1-text {
    font-size: 12px;
    margin-left: 1%;
    margin-right: 1%;
  }
  .step_1, .step_2, .step_3 {
    font-size: 12px;
  }
  .round_1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #880a4a;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color: #880a4a;
  }
  .round_2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #275e78;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color:#275e78; 
  }
  .round_3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #7e2381;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color:#7e2381;
  }
  .info-icons > img {
    width: 90px;
    height: 90px;
  }
  .info-graf-text {
    font-size: 18px;
    margin-left: 0px;
  }
  .info-pics > img {
    width: 200px;
    height: 200px;
  }
  .info-pics-conteiner > p {
    font-size: 18px;
  }
  .reasons-conteiner > h3{
    font-size: 28px;
    }
  .reasons-conteiner-2 {
    height: 850px;
    width: 100%;
    margin-left: 0px; 
  }
   #gallery_1 {
    margin-top: -20px !important;
  }
 .faq-con {
    height: 600px;
    padding-bottom: 500px;
    padding-top: 5px;
  } 
  h4 {
    font-size: 14px !important;
  } 
  .panel-body {
    font-size: 11px;
  }
  .footer > .footer-conteiner > .col-xs-6 > a {
    font-size: 16px;
  }
  .footer > .footer-conteiner > .footer-icons > a > i {
    font-size: 18px;
  }
  h2 {
    font-size: 24px !important;
  }

  .my-slider > ul > li {
margin-top: 60px;
}

.center {
  margin-top: 30px;
}

.center2 {
  margin-top: -100px !important;
}
.centring {
  margin-left: 40px;
}
.centring1 {
  margin-left: 20px;
}
.centring2 {
  margin-left: -10px;
}
.centring3 {
  margin-left: -40px;
}
.center3 {
  margin-top: 30px;
}
.center4 {
  margin-top: 30px;
}
.reasons-plus {
  width: 79%;
}
.reasons-plus > ul > li {
  font-size: 14px !important;
}
}
@media screen and (max-width: 320px) {
  .navigation > .conteiner {
    width: 320px !important;
    text-align:center;
  }
  .navigation > .conteiner > .nav > li > a {
  font-size: 9px;
  margin: 0 0 0 2.5px !important;
  padding: 0 0 0 0px !important;
  letter-spacing: -0.5px; 
  }
  .navigation > .conteiner > .nav > li {
    vertical-align: middle;
    margin-top: 12px;
  }
  .strelka {
  display: inline-block;
  vertical-align: middle;
  margin-top: 12px;
  margin-left: 0px !important;
}
  .logo > img {
  margin-top: 10px;
  border-radius: 15px;
  width: 90px;
  height: 90px;
  }
  .header {
  height: 100px;
  }
  .header-text {
  font-size: 11px;
  margin-left: 30px;
  margin-top: 10px;

  }
  .down-case {
  font-size: 11px;
  }
  .header-contacts {
  margin-top: 15px;
  margin-left: 20px;
  text-align: right;
  font-size: 10px;
  letter-spacing: -1.2px;
  }
  .header-contacts > .header-icons > a > i {
    font-size: 16px;
  }
  .name {
    font-size: 14px;
  }
  .link {
    width: 14px;
    margin-left: 15px;
    margin-top: -6px;
  }
  .padding-h-icon {
  margin-right: 4px;
  }
  .jumbotron {
    margin-top: -7px;
  }
  .jumbotron > .jumbotron-text > p {
  font-size: 24px !important;
  }
  .jumbotron-text {
  width: 99%;
  margin-top: 30px !important;
  }
 .block_1 {
  margin-top: -30px;
  padding-top: 10px;
  }
 .block_1-text {
    font-size: 10px;
    margin-left: 0%;
    margin-right: 0%;
  }
  .step_1, .step_2, .step_3 {
    font-size: 10px;
  }
  .round_1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #880a4a;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color: #880a4a;
  }
  .round_2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #275e78;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color:#275e78; 
  }
  .round_3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:4px solid #7e2381;
    background-color: #fff;
    line-height: 45px;
    font-size: 35px;
    margin-top: 10px;
    color:#7e2381;
  }
  .info-icons > img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .info-icons {
    display: inline-block !important;
  }
  .info-graf-text {
    font-size: 18px;
    margin-left: 0px;
  }
  .row1 > img {
    width: 290px;
  }
  .info-pics > img {
    width: 200px;
    height: 200px;
  }
  .reasons-conteiner > h3 {
    font-size: 28px;
    }
  .reasons-conteiner-2 {
    height: 850px;
    width: 100% !important;
    margin-left: -15px !important; 
    padding: 0 0 0 0 !important;
  }
  .space {
    margin-top: 0px !important; 
  }
  .space2 {
    margin-top: 0px !important; 
  }
  .elips-left-2 {
  margin-left: -15px;
 }
 .elips-left {
  margin-left: -15px;
 }
 .last-elips {
  margin-left: -15px;
 }
  #gallery_1 {
    margin-top: 50px;
  }
   
 .faq-con {
    height: 700px;
    padding-bottom: 500px;
    padding-top: 5px;
  }  
  .panel-body {
    font-size: 10px;
  }
  .footer > .footer-conteiner > .col-xs-6 > a {
    font-size: 14px;
  }
   h2 {
    font-size: 24px !important;
  }
  .my-slider > ul > li {
margin-top: 60px;
}
.center {
  margin-top: 0px;
}
.center2 {
  margin-top: -100px !important;
}
.centring {
  margin-left: 20px;
}
.centring1 {
  margin-left: -10px;
}
.centring2 {
  margin-left: -10px;
}
.centring3 {
  margin-left: -65px;
}
.centring4 {
  margin-left: -20px;
}
.center3 {
  margin-top: 30px;
}
.center4 {
  margin-top: 30px;
}
#comment > h2 {
  font-size: 18px !important;
}
.reasons-plus {
  width: 79%;
}
.reasons-plus > ul > li {
  font-size: 14px !important;
}
}





