/* author: Pavlo Lavrus */
/* site: bytadat.com */
/* Compass */
/* Mobiles */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
  border-spacing: 0;
  max-width: 600px;
  margin: auto;
}

table td {
  border-collapse: collapse;
}

table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  -ms-interpolation-mode: bicubic;
}

.main {
  border: 3px solid #d7d7d7;
}

.head {
  padding: 20px 15px;
  background: #0069b4;
  color: #ffffff;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.title a {
  color: #ffffff;
  text-decoration: none;
}

.subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.content {
  margin: 20px 0;
}
.content td {
  padding: 6px 15px;
  vertical-align: top;
}

td.content__title {
  width: 150px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  padding-top: 8px;
}

td.content__value {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}
td.content__value a {
  color: #0069b4;
  text-decoration: none;
}

td.content__center {
  text-align: center;
  font-weight: 700;
  padding: 30px 15px 10px 15px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.social {
  margin: 30px 0 10px 0;
}

.social__item {
  margin: 0 10px;
  width: 42px;
  height: 42px;
  display: inline-block;
}
.social__item img {
  display: block;
  width: 100%;
}

.footer {
  padding: 30px 15px;
  background: #fa2a2a;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer a {
  text-decoration: underline;
  color: #ffffff;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
