
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),  url('Gilroy-Bold.otf')  format('opentype'),
	     url('Gilroy-Bold.woff') format('woff'), url('Gilroy-Bold.ttf')  format('truetype'), url('Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
