/* author: Pavlo Lavrus */
/* site: bytadat.com */

/* Compass */
@import "compass";


$outline: 1px solid #F00;


$color-red: #fa2a2a;
$color-green: #36b344;
$color-blue: #0069b4;
$border-color: #d7d7d7;


$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 992px;
$wide-width: 1200px;

/* Mobiles */
@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

/* Small Devices, Tablets */
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

/* Medium Devices, Desktops */
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

/* Large Devices, Wide Screens */
@mixin wide {
	@media (min-width: #{$wide-width}) {
		@content;
	}
}


$family: Arial, Helvetica, sans-serif;




body {
	margin: 0;
	padding: 0;
	font-family: $family;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
table {
	border-spacing: 0;
	max-width: 600px;
	margin: auto;
}
table * {
}
table td {
	border-collapse: collapse;
}
table {
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}
img {
	-ms-interpolation-mode: bicubic;
}
.main {
	border: 3px solid $border-color;
}


.head {
	padding: 20px 15px;
	background: $color-blue;
	color: #ffffff;
}
.title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 10px;

	a {
		color: #ffffff;
		text-decoration: none;
	}
}
.subtitle {
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.content {
	margin: 20px 0;

	td {
		padding: 6px 15px;
		vertical-align: top;
	}
}
td.content__title {
	width: 150px;
	text-align: right;
	font-family: $family;
	font-weight: 700;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	padding-top: 8px;
}
td.content__value {
	text-align: left;
	font-family: $family;
	font-weight: 400;
	color: #000000;
	font-size: 16px;
	line-height: 24px;

	a {
		color: $color-blue;
		text-decoration: none;
	}
}
td.content__center {
	text-align: center;
	font-weight: 700;
	padding: 30px 15px 10px 15px;
	font-weight: 700;
	font-family: $family;
}


.social {
	margin: 30px 0 10px 0;
}
.social__item {
	margin: 0 10px;
	width: 42px;
	height: 42px;
	display: inline-block;

	img {
		display: block;
		width: 100%;
	}
}

.footer {
	padding: 30px 15px;
	background: $color-red;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	font-family: $family;

	a {
		text-decoration: underline;
		color: #ffffff;
		font-weight: 700;
		font-family: $family;
		font-size: 16px;
		line-height: 24px;
	}
}
