/* author: Pavlo Lavrus */
/* site: bytadat.com */

/* Compass */
@import "compass";


$outline: 1px solid #F00;


$color-red: #fa2a2a;
$color-green: #36b344;
$color-blue: #0069b4;


$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 992px;
$wide-width: 1200px;

/* Mobiles */
@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

/* Small Devices, Tablets */
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

/* Medium Devices, Desktops */
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

/* Large Devices, Wide Screens */
@mixin wide {
	@media (min-width: #{$wide-width}) {
		@content;
	}
}

@mixin font-face($name, $family, $style) {
    $filepath: "../fonts/" + $name + "-" + $family + "/" + $name + "-" + $family;
    @font-face {
        font-family: "#{$name}-#{$family}";
        src: 	url($filepath + ".eot");
        src: 	url($filepath + ".eot?#iefix") format('embedded-opentype'), 
        		url($filepath + ".ttf")  format('truetype'), 
        		url($filepath + ".woff") format('woff'), 
        		url($filepath + ".svg?#" + $name + "-" + $family + "") format('svg');
        font-weight: 400;
        font-style: $style;
    }
}

@mixin bgIcon($icon-name, $format: 'png') {
	background: url('../img/icons/'+ $icon-name +'.'+$format) center no-repeat;
	height: image-height('../img/icons/'+ $icon-name +'.'+$format);
    width: image-width('../img/icons/'+ $icon-name +'.'+$format);
}

@include font-face("Gilroy", "Regular", "normal");
@include font-face("Gilroy", "Medium", "normal");
@include font-face("Gilroy", "Semibold", "normal");
@include font-face("Gilroy", "Bold", "normal");
@include font-face("Gilroy", "Extrabold", "normal");
@include font-face("Gilroy", "Black", "normal");

$regular: Gilroy-Regular, Arial, Helvetica, sans-serif;
$medium: Gilroy-Medium, Arial, Helvetica, sans-serif;
$semibold: Gilroy-Semibold, Arial, Helvetica, sans-serif;
$bold: Gilroy-Bold, Arial, Helvetica, sans-serif;
$extrabold: Gilroy-Extrabold, Arial, Helvetica, sans-serif;
$black: Gilroy-Black, Arial, Helvetica, sans-serif;
$awesome: FontAwesome, Arial, Helvetica, sans-serif;

/* Main styles */
* {
    box-sizing: border-box;
    font-family: $regular;
}
*:before,
*:after {
    box-sizing: border-box;
}
html {
	min-height: 100%;
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	min-height: 100%;
	font-size: 14px;
	line-height: 18px;
	color: #171717;
	
	&.is-first {
		overflow: hidden;
		overflow-y: scroll;
	}
	
	section.interior,
	section.interior {
		visibility: hidden;
	}
	&.is-exterior section,
	&.is-interior section {
		visibility: visible;
	}
	
	&.is-exterior .interior,
	&.is-interior .exterior {
		display: none !important;
	}

	&.is-overflow {
		height: 100%;
		overflow: hidden;
	}
}

#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 0;

	.is-loaded & {
		height: auto;
	}

	body.is-overflow & {
		overflow-y: scroll;
	}
}

$link-color: #0068b4;
$link-color-hover: #0085e7;

a {
	color: $link-color;
	text-decoration: underline;
	transition: all 0.1s ease;
}
a:focus {
	text-decoration: inherit;
	color: inherit;
}
a:active,
.no-touchevents a:hover {
	color: $link-color-hover;
	text-decoration: none;
}

h2 {
 	margin: 0 0 20px 0;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: $black;
	text-transform: uppercase;
	transition: all 0.3s ease;

	@include tablet {
		font-size: 36px;
		line-height: 40px;
	}
	@include desktop {
		font-size: 50px;
		line-height: 56px;
	}
}

.section__subtitle {
	margin: 0 auto 15px auto;
	width: calc(100% - 6px);
	display: table;
	font-size: 14px;
	line-height: 18px;
	padding: 5px 15px;
	color: #171717;
	background: #ffffff;
	text-align: center;
	position: relative;
	transition: all 0.3s ease;
	
	@include tablet {
		width: auto;
		margin: 0 auto 20px auto;
		padding: 6px 22px;
		font-size: 16px;
		line-height: 20px;
	}
	@include desktop {
		margin: 0 auto 30px auto;
		padding: 7px 24px;
		font-size: 22px;
		line-height: 26px;
	}

	&:before {
		content: '';
		position: absolute;
		top: -3px;
		right: -3px;
		bottom: -3px;
		left: -3px;
		z-index: -1;
		background-color: rgba(250,42,42,1);
		@include filter-gradient(#fa2a2a, #0467b2, vertical);
		@include background-image(linear-gradient(top, rgba(250,42,42,1) 0%, rgba(4,103,178,1) 100%));
	}
}

$btn-default-line-transition: 0.5s;
$btn-default-line-bordercolor: #d7d7d7;
$btn-default-line-bordercolor-hover: #36b344;
.btn-default-line {
	border: 3px solid $btn-default-line-bordercolor;
	border-radius: 0;
	font-size: 20px;
	width: 100%;
	max-width: 350px;
	padding: 0 !important;
	height: 50px;
	line-height: 42px;
	display: inline-block;
	float: none;
	text-transform: uppercase;
	font-family: $black;
	transition: all $btn-default-line-transition ease;
	position: relative;
	cursor: pointer;
	color: #999999;
	letter-spacing: 2px;
	background: #ffffff;
	text-decoration: none;
	
	&:focus,
	&:active,
	.no-touchevents &:hover {
		outline: none;
		color: #171717;
		border-color: $btn-default-line-bordercolor;
		background: #ffffff;

		&:after,
		&:before {
			transform: scale(1);
		}
	}

	&[disabled]:focus,
	&[disabled]:active,
	.no-touchevents &[disabled]:hover,
	&[disabled] {
		color: #999999;
		border-color: $btn-default-line-bordercolor;
	}
	&[disabled]:before,
	&[disabled]:after {
		display: none !important;
	}

	@include tablet {
		height: 70px;
		font-size: 25px;
		line-height: 66px;

		i {
			line-height: 66px;
		}

		b,
		div,
		span {
			line-height: 66px;
		}
	}
	
	b,
	div,
	span {
		display: inline-block;
		font-family: $black;
	}

	i {	
		position: relative;
		left: auto !important;
		top: auto !important;
		bottom: auto !important;
		right: auto !important;
		font-size: 30px;
		line-height: 42px !important;
		padding: 0 !important;
		vertical-align: middle !important;
		margin: 0 0 0 6px !important;
		color: inherit !important;
		transition: inherit !important;
	}

	&:before,
	&:after {
		z-index: 10;
		content: '';
		position: absolute;
		top: -3px;
		left: -3px;
		bottom: -3px;
		right: -3px;
		transform: scale(0);
		transition: all $btn-default-line-transition ease;
	}

	&:before {
		border-bottom: 3px solid $btn-default-line-bordercolor-hover;
		border-left: 3px solid $btn-default-line-bordercolor-hover;
		transform-origin: 0 100%;
	}

	&:after {
		border-top: 3px solid $btn-default-line-bordercolor-hover;
		border-right: 3px solid $btn-default-line-bordercolor-hover;
		transform-origin: 100% 0%;
	}
	

	&.is-loading {
		cursor: default;
	}
	&.is-loading:active,
	.no-touchevents &.is-loading:hover {
		border-color: $btn-default-line-bordercolor;
	}
	&.is-loading[disabled]:before,
	&.is-loading:before {
		transform: scale(1);
		border: none;
		transform-origin: center;
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		bottom: auto;
		right: auto;
		background: #ffffff;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	&.is-loading[disabled]:after,
	&.is-loading:after {
		border: none;
		display: block !important;
		position: absolute;
		content: '\f110';
		font-family: $awesome;
		font-size: 30px;
		line-height: 30px;
		left: 50%;
		top: 50%;
		bottom: auto;
		right: auto;
		margin: -15px 0 0 -15px;
		width: 30px;
		height: 30px;
		text-align: center;
		color: #999999;
		animation: rotate 1.5s linear infinite;
		transform-origin: center;
		z-index: 20;
		transform: scale(1);
	}
}

$btn-default-transition: 0.5s;
$btn-default-bordercolor: #d7d7d7;
$btn-default-bordercolor-hover: #36b344;
.btn-default {
	@extend .btn-default-line;

	&:focus,
	&:active,
	.no-touchevents &:hover {
		border-color: $btn-default-bordercolor-hover;
	}

	&:after,
	&:before {
		display: none;
	}
}

.contain,
.cover {
	position: relative;
	
	&:after {
		position: absolute;
		content: '\f110';
		font-family: $awesome;
		font-size: 20px;
		line-height: 20px;
		display: block;
		left: 50%;
		top: 50%;
		margin: -10px 0 0 -10px;
		width: 20px;
		height: 20px;
		opacity: 0.7;
		text-align: center;
		color: #171717;
		animation: rotate 1.5s linear infinite;
		transform-origin: 50%;
	}
	&.js-loaded:after {
		display: none;
	}

	&>img,
	&>img {
		display: none;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

section {
	margin-bottom: 30px;

	@include tablet {
		margin-bottom: 40px;
	}
	@include desktop {
		margin-bottom: 60px;
	}
	@include wide {
		margin-bottom: 140px;
	}
}


/* Bootstrap collapse */
.fade {
	opacity: 0;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
tr.collapse.in {
	display: table-row;
}
tbody.collapse.in {
	display: table-row-group;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition-property: height, visibility;
	transition-duration: 0.35s;
	transition-timing-function: ease;
}


/* Ripples */
.withripple {
    position: relative;
}
.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}
.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 100%;
    background-color: #000; // fallback color
    background-color: rgba(0,0,0,0.05);
    transform: scale(1);
    transform-origin: 50%;
    opacity: 0;
    pointer-events: none;
}
.ripple.ripple-on {
    transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    opacity: 0.1;
}
.ripple.ripple-out {
    transition: opacity 0.1s linear 0s !important;
    opacity: 0;
}


/* Icons */
.icon {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.icon-phone {
	@include bgIcon(icon-phone);
	width: 62px;
	height: 80px;
}
.icon-social-skype {
	@include bgIcon(icon-social-skype);
	width: 50px;
	height: 50px;
	
	&:active,
	.no-touchevents &:hover {
		@include bgIcon(icon-social-skype-hover);
	}
}
.icon-social-ig {
	@include bgIcon(icon-social-ig);
	width: 50px;
	height: 50px;
	
	&:active,
	.no-touchevents &:hover {
		@include bgIcon(icon-social-ig-hover);
	}
}
.icon-social-fb {
	@include bgIcon(icon-social-fb);
	width: 50px;
	height: 50px;
	
	&:active,
	.no-touchevents &:hover {
		@include bgIcon(icon-social-fb-hover);
	}
}
.icon-social-vk {
	@include bgIcon(icon-social-vk);
	width: 50px;
	height: 50px;
	
	&:active,
	.no-touchevents &:hover {
		@include bgIcon(icon-social-vk-hover);
	}
}

.icon-step-1 {
	@include bgIcon(icon-step-1);
}
.icon-step-1-hover {
	@include bgIcon(icon-step-1-hover);
}
.icon-step-2 {
	@include bgIcon(icon-step-2);
}
.icon-step-2-hover {
	@include bgIcon(icon-step-2-hover);
}
.icon-step-3 {
	@include bgIcon(icon-step-3);
}
.icon-step-3-hover {
	@include bgIcon(icon-step-3-hover);
}
.icon-step-4 {
	@include bgIcon(icon-step-4);
}
.icon-step-4-hover {
	@include bgIcon(icon-step-4-hover);
}
.icon-step-5 {
	@include bgIcon(icon-step-5);
}
.icon-step-5-hover {
	@include bgIcon(icon-step-5-hover);
}

.icon-reason-1 {
	@include bgIcon(icon-reason-1, gif);
}
.icon-reason-2 {
	@include bgIcon(icon-reason-2, gif);
}
.icon-reason-3 {
	@include bgIcon(icon-reason-3, gif);
}
.icon-reason-4 {
	@include bgIcon(icon-reason-4, gif);
}
.icon-reason-5 {
	@include bgIcon(icon-reason-5, gif);
}
.icon-reason-6 {
	@include bgIcon(icon-reason-6, gif);
}


/* Header section */
.head {
	margin-bottom: 50px;
	box-shadow: 0 5px 15px rgba(0,0,0,.4);
	z-index: 1000;

	@include tablet {
		margin-bottom: 90px;
	}

	&>.container {
		padding: 0 !important;
		width: 100%;
		position: relative;
	}
}

.head__phones {
	font-size: 18px;
	line-height: 24px;
	width: 100%;
	float: left;
	display: flex;
	flex: display;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;

	@include tablet {
		font-size: 26px;
		line-height: 30px;
	}
}
.head__phones_inner {
	padding: 10px 0 10px 40px;
	text-align: left;
	position: relative;
	width: 100%;
	max-width: 320px;
	background: #ffffff;
	box-shadow: 0 15px 20px rgba(0,0,0,.5);

	@include tablet {
		width: 400px;
		max-width: 100%;
		padding: 15px 0 15px 40px;
	}

	.icon {
		content: '';
		display: block;
		position: absolute;
		right: 30px;
		height: 54px;
		width: 44px;
		bottom: 0;
		background-size: contain;
		background-repeat: no-repeat;

		@include tablet {
			width: 65px;
			height: 70px;
		}
	}
}
.head__phones__title {
	color: #7e7e7e;
	display: block;
	float: left;
	font-family: $black;
}
.head__phones__content {
	margin-left: 46px;

	@include tablet {
		margin-left: 65px;
	}
}
.head__phones__phone {
	color: #171717 !important;
	display: table;
	border: none;
	font-family: $black;
	text-decoration: none !important;

	&:active,
	.no-touchevents &:hover {
		color: #0068b4 !important;
	}
}
.social {
	font-size: 18px;
	line-height: 24px;
	font-family: $medium;
	width: 100%;
	float: left;
	display: flex;
	flex: display;
	justify-content: center;

	&.social-head {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 20;
	}
	
	@include desktop {
		transition: height 0.3s ease;
	}
}
.social_inner {
	padding: 10px 40px;
	position: relative;
	width: 100%;
	background: #ffffff;
	text-align: center;
	display: flex;
	flex: display;
	justify-content: space-between;
	transition: all 0.5s ease;

	.social-head & {
		max-width: 320px;
	}

	@include tablet {
		padding: 15px 40px;

		.social-head & {
			width: 320px;
			max-width: 320px;
			box-shadow: 0 15px 20px rgba(0,0,0,.5);
			// top: 35px;
		}
	}
}
.social__item {
	display: inline-block;
	border: none !important;

	.icon:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		height: inherit;
		width: inherit;
		background: inherit;
		transform: all 0.5s ease;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		background-size: contain;
		opacity: 0;
	}
	&:active .icon:after,
	.no-touchevents &:hover .icon:after {
		animation-name: hover-scale-out;
	}
}
.head__blocks {
	@include desktop {
		width: 100%;
		position: relative;
		float: left;
		// height: 720px;
		transition: all 0.3s ease;
	}
	@include wide {
		// height: 900px;
		overflow: hidden;
	}
}
.head__block {
	// padding: 100px 0;
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transform: perspective(1px) translateZ(0);

	@include tablet {
		// padding: 150px 0;
	}
	@include desktop {
		width: 50%;
		height: auto;
		padding: 0 !important;
		transition: height 0.3s ease, filter 0.5s ease;

		.head__blocks:active &,
		.no-touchevents .head__blocks:hover & {
			filter: grayscale(100%);
		}
		.head__blocks &:active,
		.no-touchevents .head__blocks &:hover {
			filter: grayscale(0);
		}
	}
	@include wide {
		position: absolute;
		top: 0;
		// height: 900px;
		overflow: hidden;
		transform: skewX(-25deg);
	}

	&:after,
	&:before {
		content: '';
		display: block; 
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		opacity: 0.3;
		background-color: rgba(57,204,202,0);
		@include filter-gradient(#39ccca, #000000, vertical);
		@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(0,0,0,1) 100%));

		@include wide {
			display: none;
		}
	}
	&:after {
		opacity: 0.6;
	}
}
.head__block-exterior {
	background-image: url('../img/bg-exterior-mobile.jpg');
	
	.head__block_inner:after,
	&:after {
		background-color: rgba(57,204,202,0);
		@include filter-gradient(#39ccca, #0069b4, vertical);
		@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(0,105,180,1) 100%));
	}

	@include tablet {
		background-image: url('../img/bg-exterior.jpg');
		// padding-top: 200px;
	}
	@include desktop {
		left: 0;
	}
	@include wide {
		left: -20%;
		width: 70%;
	}
}
.head__block-interior {
	background-image: url('../img/bg-interior-mobile.jpg');
	
	.head__block_inner:after,
	&:after {
		background-color: rgba(57,204,202,0);
		@include filter-gradient(#39ccca, #fa2a2a, vertical);
		@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(250,42,42,1) 100%));
	}

	@include tablet {
		background-image: url('../img/bg-interior.jpg');
		// padding-bottom: 200px;
	}
	@include desktop {
		right: 0;
	}
	@include wide {
		right: -20%;
		width: 70%;
	}
}
.head__block_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	float: left;

	@include wide {
		position: absolute;
		top: 0;
		width: 140%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: inherit;
		position: relative;
		transform: skewX(25deg) perspective(1px) translateZ(0);

		.head__block-exterior & {
			left: 0%;
		}
		.head__block-interior & {
			right: 40%;
		}

		&:after,
		&:before {
			content: '';
			display: block; 
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			opacity: 0.3;
			background-color: rgba(57,204,202,0);
			@include filter-gradient(#39ccca, #000000, vertical);
			@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(0,0,0,1) 100%));
		}
		&:after {
			opacity: 0.6;
		}
	}
}
.head__block__info {
	position: relative;

	@include tablet {
		.head__block-exterior & {
			top: 50px;
		}
		.head__block-interior & {
			top: -50px;
		}
	}
	@include desktop {
		// position: absolute;
		top: 0;
		width: 420px;
		z-index: 200;
		transition: all 0.3s ease;

		.head__block-exterior & {
			top: 0;
			// left: 50%;
			// margin-left: -210px;
		}
		.head__block-interior & {
			top: 0;
			// right: 50%;
			// margin-right: -210px;
		}
	}
	@include wide {
		.head__block-exterior & {
			// margin-left: -240px;
			// top: 140px;
		}
		.head__block-interior & {
			// margin-right: -240px;
			// top: 420px;
		}
	}
}
.head__block__title {
	width: 100%;
	float: none;
	color: #ffffff;
	text-shadow: 0 15px 20px rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	position: relative;
	height: 64px;
	z-index: 11;
	max-width: 420px;
	margin: auto;
	display: table;
	transition: all 0.3s ease;

	@include tablet {
		height: 96px;
		max-width: 520px;
	}
	@include desktop {
		height: 96px;
		max-width: 100%;
	}

	span {
		position: relative;
		z-index: 10;
		font-family: $black;
		font-size: 52px;
		line-height: 52px;
		transition: all 0.3s ease;

		@include tablet {
			font-size: 70px;
			line-height: 70px;
		}
	}
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 36px;
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: all 0.3s ease;

		@include tablet {
			height: 60px;
		}
	}

	.head__block-exterior &:before {
		background: #0068b4;
	}
	.head__block-interior &:before {
		background: #fa2a2a;
	}
}
.head__block__content {
	background: #ffffff;
	width: 100%;
	float: none;
	padding: 25px;
	font-size: 18px;
	line-height: 22px;
	font-family:  $medium;
	text-align: center;
	position: relative;
	z-index: 10;
	padding-bottom: 50px;
	max-width: 420px;
	margin: auto;
	display: table;
	transition: all 0.3s ease;

	@include tablet {
		max-width: 520px;
		padding: 35px;
		padding-bottom: 65px;
	}

	span {
		font-size: 18px;
		line-height: 22px;
		font-family:  $medium;

		@include tablet {
			font-size: 22px;
			line-height: 26px;
		}
	}
}

.head__block__btn {
	cursor: pointer;
	position: absolute;
	display: block;
	z-index: 20;
	height: 60px;
	line-height: 43px;
	font-size: 25px;
	font-family: $black;
	bottom: -30px;
	left: 20px;
	background: #ffffff;
	border: 3px solid #ffffff;
	text-transform: uppercase;
	color: #171717;
	letter-spacing: 3px;
	width: calc( 100% - 40px );
	transform: perspective(1px) translateZ(0);
	transition: all 0.3s ease;
	text-decoration: none !important;
	z-index: 100;

	@include tablet {
		width: 200px;
		left: 50%;
		margin-left: -100px;
	}

	&:active,
	.no-touchevents &:hover {
		color: #171717 !important;
		border: 3px solid inherit !important;
		text-decoration: none;
	}

	&:before {
		content: '';
		position: absolute;
		border: 6px solid transparent;
		top: -6px;
		right: -6px;
		bottom: -6px;
		left: -6px;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		z-index: -1;
		opacity: 0;
	}
	.head__block:active &:before,
	.no-touchevents .head__block:hover &:before {
		opacity: 1;
		animation-duration: 3s;
		animation-name: hover-ripple-out-delay ;
	}
	.touchevents &:before {
		opacity: 1;
		animation-duration: 3s;
		animation-name: hover-ripple-out-delay;
	}

	.head__block-exterior & {
		border-color: #0068b4 !important;
	}
	.head__block-interior & {
		border-color: #fa2a2a !important;
	}

	.head__block-exterior &:before,
	.no-touchevents .head__block-exterior &:before {
		border-color: #0068b4;
		color: #0068b4 !important;
	}
	.head__block-interior &:before,
	.no-touchevents .head__block-interior &:before {
		border-color: #fa2a2a;
		color: #fa2a2a !important;
	}

	.head__block-exterior &:active,
	.no-touchevents .head__block-exterior &:hover {
		color: #0068b4 !important;
	}
	.head__block-interior &:active,
	.no-touchevents .head__block-interior &:hover {
		color: #fa2a2a !important;
	}
}

/* Ripple Out */
@keyframes hover-ripple-out {
	0% {
		opacity: 1;
	}
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}

/* Ripple Out width Delay */
@keyframes hover-ripple-out-delay {
	20%, 100% {
		opacity: 0;
	}
	0% {
		opacity: 1;
	}
	10% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}
/* Scale Out */
@keyframes hover-scale-out {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}


/* Steps section */
$steps__item-size: 120px;
$steps__item-sizeinset: 112px;
$steps__item-color: #36b344;
$steps__item-transition: 0.5s;

.steps__icons {
	width: 100%;
	float: left;
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	width: calc( 100% + 30px );
}
.steps__icons_inner {
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	height: $steps__item-size+40;

	@include tablet {
		display: flex;
		flex: display;
		justify-content: space-around;
		height: auto;
		overflow: visible;
		padding: 40px 0;
	}
}
.steps__item-icon {
	width: $steps__item-size;
	height: $steps__item-size;
	display: flex;
	flex: display;
	justify-content: center;
	align-items: center;
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	background: #d7d7d7;
	top: 20px;
	right: -$steps__item-size;
	transition: all .3s ease-in;
	transform: scale(0.8);

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		border-radius: 100%;
	}

	&:before {
		z-index: 1;
		transition: all 0.5s ease;
		transform: scale(0.5);
		background-color: rgba(250,42,42,1);
		@include filter-gradient(#0467b2, #fa2a2a,  vertical);
		@include background-image(linear-gradient(bottom, rgba(4,103,178,1) 0%, rgba(250,42,42,1) 100%));
	}
	&.active:before {
		transform: scale(1);
	}

	&:after {
		background: #ffffff;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		top: 4px;
		left: 4px;
		z-index: 5;
	}

	@include tablet {
		position: relative;
		left: 0 !important;
		top: 0 !important;
		right: auto !important;
		margin: 0 !important;
		transform: scale(1);

		&:active,
		.no-touchevents &:hover {
			transform: scale(1.2);
			transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
		}
	}
	@include desktop {
		&.active:active,
		.no-touchevents &.active:hover {
			transform: scale(1.2);
			transition-timing-function: ease;
		}

		&:active,
		.no-touchevents &:hover {
			transform: scale(1);
			transition-timing-function: ease;
		}
	}

	&.right.is-hide {
		margin-right: -$steps__item-size;
	}
	&.left.is-hide {
		margin-right: $steps__item-size;
	}
	&.active {
		z-index: 20;
		right: 50%;
		transform: scale(1.2) perspective(1px) translateZ(0);
		margin-right: -($steps__item-size / 2);
	}
	&.right {
		right: 0;
		margin-right: -($steps__item-size / 2);
	}
	&.left {
		right: 100%;
		margin-right: -($steps__item-size / 2);
	}

	.icon {
		z-index: 20;
		position: relative;
		transition: all 0.3s ease;
		transform: scale(0.8) perspective(1px) translateZ(0);

		@include desktop {
			transform: scale(1) perspective(1px) translateZ(0);
		}
	}
}
@keyframes steps-item-active {
	20%, 100% {
		opacity: 0.5;
		transform: scale(0.5);
	}
	0% {
		opacity: 0;
		transform: scale(3);
	}
	10% {
		opacity: 0.5;
		transform: scle(0.5);
	}
}

@for $i from 1 through 5 {
	.steps__item-icon.active[data-step="#{$i}"] .icon {
		@include bgIcon('icon-step-#{$i}-hover');
	}

	@include tablet {
		.steps__item-icon:active[data-step="#{$i}"] .icon,
		.no-touchevents .steps__item-icon:hover[data-step="#{$i}"] .icon {
			@include bgIcon('icon-step-#{$i}-hover');
		}
	}
}

.steps__descs {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 40px;
	transition: all $steps__item-transition ease;

	@include desktop {
		margin-bottom: 80px;
	}
}
.steps__item-desc {
	text-align: center;
	width: 100%;
	transition: all $steps__item-transition ease;
	top: -$steps__item-size/2;
	opacity: 0;
	display: table;
	position: absolute;
	left: 0;
	margin: auto;
	transform: scale(0.7);
}
.steps__item-desc_inner {
	width: 100%;
	max-width: 400px;
	display: table;
	margin: auto;
	font-family: $bold;
	font-size: 16px;
	line-height: 20px;

	@include tablet {
		max-width: 600px;
		font-size: 20px;
		line-height: 24px;
	}
	@include desktop {
		max-width: 760px;
		font-size: 26px;
		line-height: 30px;
	}
}
.steps__item-desc.active {
	opacity: 1;
	z-index: 10;
	top: 0;
	transform: scale(1);
}
@include desktop {
	$steps__item-size: 170px;
	$steps__item-sizeinset: 158px;

	.steps__item-icon {
		width: $steps__item-size;
		height: $steps__item-size;
	}

	.steps__item__slice:before,
	.steps__item__slice {
		width: $steps__item-size;
		height: $steps__item-size;
	}
	.steps__item__slice {
		clip: rect(0px, $steps__item-size, $steps__item-size, $steps__item-size/2);

		&:before {
			clip: rect(0px, $steps__item-size/2, $steps__item-size, 0px);
		}
	}
	.steps__item__overlay {
		width: $steps__item-sizeinset;
		height: $steps__item-sizeinset;
		top: ($steps__item-size - $steps__item-sizeinset) /2;
		left: ($steps__item-size - $steps__item-sizeinset) /2;
	}
}


/* Examples */
@include mobile {
	.examples__container {
		padding: 0;
		width: 100%;
	}
	.examples__bottom {
		width: 100%;
		float: left;
		padding: 0 15px;
	}
}
.examples__slides {
	margin: 10px 0 20px 0;
	width: 100%;
	float: left;
	background: #ffffff;
	box-shadow: 0 4px 15px rgba(0,0,0,.2);
	min-height: 0;
	transition: all 0.3s ease;
	
	@include tablet {
		margin-bottom: 30px;
		padding-bottom: 40px;
	}
	@include desktop {
		margin-bottom: 40px;
		padding-bottom: 0;
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;

		@include tablet {
			display: block;
			background: none;
			height: auto;
			width: 50%;
			top: auto;
			bottom: 0;
			margin: 0;
			transition: all 0.3s ease;
			padding: 0 20px;
		}

		&:after {
			display: none;
		}

		.swiper-button-inner {
			font-size: 20px;
			line-height: 32px;
			color: #333333;
			transition: all 0.3s ease;
			padding: 4px 10px;
			width: auto;
			display: inline-block;
			margin-bottom: 10px;

			span {
				font-family: $extrabold;
			}
		}

		&:active .swiper-button-inner,
		.no-touchevents &:hover .swiper-button-inner {
			color: #ffffff;
			background: #ffa200;
		}
	}
	.swiper-button-prev {
		text-align: left;
		left: 0;
	}
	.swiper-button-next {
		text-align: right;
		right: 0;
	}
}
.reviews__slides__wrapper {
	width: 100%;
	float: left;
	min-height: 0;
}
.examples__slides__item {
	width: 100%;
	float: left;
}
.examples__slides__item__gallery {
	display: none;
}
.examples__slides__item__image_cnt {
	width: 100%;
	float: left;
	position: relative;
	border: none;
	padding-top: 57.25%;
	overflow: hidden;
	
	&:active,
	.no-touchevents &:hover {
		border: none;
		text-decoration: none;
	}

	@include desktop {
		width: 600px;
		height: 500px;
		padding: 0;
	}
	@include wide {
		width: 720px;
	}
}
.examples__slides__item__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 57.25%;
	z-index: 10;
	transition: all 0.3s ease;
	
	&:active,
	.no-touchevents &:hover {
		transform: scale(1.1);
	}

	@include desktop {
		padding: 0;
		height: 100%;
	}

	i {
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		width: 40px;
		height: 40px;
		color: #ffffff;
		font-size: 40px;
		line-height: 40px;
		margin: -20px 0 0 -20px;
		text-align: center;
		transition: all 0.3s ease;
		z-index: 20;
		text-shadow: 0 1px 14px rgba(0,0,0,.4);

		@include tablet {
			width: 60px;
			height: 60px;
			margin: -30px 0 0 -30px;
			font-size: 60px;
			line-height: 60px;
		}
	}
	&.js-loaded i {
		opacity: 1;
	}
	&:active i,
	.no-touchevents &:hover i {
		transform: scale(1.5);
		text-shadow: 0 3px 14px rgba(0,0,0,.8);
	}
}
.examples__slides__item__image__count {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: 50px;
	color: #ffffff;
	font-size: 20px;
	font-family: $bold;
	text-align: center;
	width: 100px;
	transition: all 0.3s ease;
	text-shadow: 0 1px 14px rgba(0,0,0,.4);
	z-index: 20;

	.examples__slides__item__image:active &,
	.no-touchevents .examples__slides__item__image:hover & {
		transform: scale(1.5);
		margin-top: 70px;
		text-shadow: 0 3px 14px rgba(0,0,0,.8);
	}
}
.examples__slides__item__content {
	padding: 20px 15px;
	width: 100%;
	float: left;

	@include desktop {
		margin-left: 600px;
		width: auto;
		float: none;
	}
	@include wide {
		margin-left: 730px;
	}
	

	.col {
		padding: 0;

		@include desktop {
			display: inline;
			float: none;
		}
	}
}
.examples__slides__item__content__title {
	font-size: 15px;
	line-height: 19px;
	color: #c9c9c9;
	margin-bottom: 10px;
}
.examples__slides__item__content__block {
	margin: 15px 0;
}
.examples__slides__item__content__block__title {
	font-size: 26px;
	line-height: 30px;
	color: #171717;
	font-family: $extrabold;
}
.examples__slides__item__content__block__value {
	color: #888888;
	font-size: 15px;
	line-height: 30px;

	span {
		color: #ffa200;
		font-size: 26px;
		line-height: 30px;
		font-family: $extrabold;
	}
}
.examples__tip {
	padding: 0 30px 0 10px;
	position: relative;
	margin-bottom: 30px;
	color: #888888;
	font-size: 14px;
	width: 100%;
	float: left;

	@include tablet {
		font-size: 16px;
		margin-bottom: 40px;
		padding-left: 30px;
	}
	@include desktop {
		margin-bottom: 50px;
	}

	b {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 16px;
		color: #fa2a2a;
		font-family: $extrabold;

		@include tablet {
			font-size: 18px;
			left: 20px;
		}
	}
	span {
		display: inline-block;
		color: #888888;
	}
}
@include wide {
	#examples {
		position: relative;
	}
	.examples__bg {
		position: absolute;
		right: 50%;
		top: 300px;
		margin-right: -980px;
		width: 440px;
		height: 285px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../img/bg-examples.png');
		z-index: -1;
	}
}


/* Reasons */
.reasons__list {
	width: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	margin: 20px 0 0 0;

	@include tablet {
		justify-content: space-between;
	}
	@include desktop {
		display: block;
		width: 100%;
		height: 700px;
		float: left;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 200px;
			left: 320px;
			width: 300px;
			height: 300px;
			border-radius: 100%;
			background: #ffffff;
			z-index: 5;
		}
	}

	@include wide {
		&:after {
			left: 50%;
			top: 50%;
			margin: -150px 0 0 -150px;
		}
	}
}
.reasons__item {
	width: 100%;
	margin: 20px 10px;
	vertical-align: top;
	max-width: 320px;
	cursor: default;
	transition: all 0.3s ease;

	@include tablet {
		width: 210px;
		margin-left: 0;
		margin-right: 0;
	}

	@include desktop {
		display: block;
		float: left;
		width: 260px;
		height: 100px;
		max-width: auto;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;

		&:after {
			width: 300px;
			border-bottom: 4px dashed #cecece;
			content: '';
			display: block;
			position: absolute;
			transition: all 0.3s ease;
		}
		&.active:after,
		&:active:after,
		.no-touchevents &:hover:after {
			border-color: #ff5a5a;
		}

		&:nth-child(1) {
			left: 0;
			text-align: right;

			&:after {
				left: 100px;
				top: 220px;
				transform: rotate(45deg);
			}
		}
		&:nth-child(2) {
			left: 340px;
			text-align: center;

			&:after {
				left: 30px;
				top: 210px;
				width: 200px;
				transform: rotate(90deg);
			}
		}
		&:nth-child(3) {
			left: 680px;
			text-align: left;

			&:after {
				left: -140px;
				top: 220px;
				transform: rotate(-45deg);
			}
		}
		&:nth-child(4) {
			top: 600px;
			left: 0;
			text-align: right;

			&:after {
				left: 100px;
				bottom: 220px;
				transform: rotate(-45deg);
			}
		}
		&:nth-child(5) {
			top: 600px;
			left: 340px;
			text-align: center;

			&:after {
				left: 30px;
				bottom: 210px;
				width: 200px;
				transform: rotate(90deg);
			}
		}
		&:nth-child(6) {
			top: 600px;
			left: 680px;
			text-align: left;

			&:after {
				left: -140px;
				bottom: 220px;
				transform: rotate(45deg);
			}
		}
	}

	@include wide {
		margin: 0 !important;

		&:after {
			width: 300px !important;
		}

		&:nth-child(1) {
			left: 0;

			&:after {
				left: 240px;
				top: 120px;
				transform: rotate(35deg);
			}
		}
		&:nth-child(2) {
			left: auto;
			right: 0;
			top: 0;
			margin-top: 0;
			text-align: left;

			&:after {
				left: -280px;
				top: 120px;
				transform: rotate(-35deg);
			}
		}
		&:nth-child(3) {
			top: 300px;
			right: 0;
			left: auto;
			margin-top: 0;
			margin-left: 0;
			text-align: left;

			&:after {
				left: -200px;
				top: 30px;
				width: 200px;
				transform: rotate(0);
			}
		}
		&:nth-child(4) {
			top: 600px;
			margin-top: 0;
			margin-left: 0;
			left: auto;
			right: 0;
			text-align: left;

			&:after {
				left: -280px;
				top: -60px;
				transform: rotate(35deg);
			}
		}
		&:nth-child(5) {
			top: 600px;
			left: 0;
			right: auto;
			text-align: right;

			&:after {
				left: 240px;
				top: -60px;
				transform: rotate(-35deg);
			}
		}
		&:nth-child(6) {
			top: 300px;
			left: 0;
			margin-left: 0;
			text-align: right;

			&:after {
				left: 260px;
				top: 30px;
				width: 200px;
				transform: rotate(0);
			}
		}
	}
}
.reasons__item__image {
	width: 100px;
	padding: 0;
	margin: 0;
	float: left;
	flex: display;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;

	@include tablet {
		width: 100%;
	}
	@include desktop {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -150px;
		background: #ffffff;
		width: 300px;
		height: 300px;
		border-radius: 100%;
		z-index: 10;
		transition: all 0.5s ease;
		transform: scale(0);
		overflow: hidden;
		transform-origin: center 0;
		
		.reasons__item:nth-child(4) &,
		.reasons__item:nth-child(5) &,
		.reasons__item:nth-child(6) & {
			top: 0;
		}
		.reasons__item.active & {
			z-index: 50;
			transform: scale(1);
			margin-left: 0;
		}
		.reasons__item.active:nth-child(1) & {
			left: 320px;
			top: 200px;
		}
		.reasons__item.active:nth-child(2) & {
			left: -20px;
			top: 200px;
		}
		.reasons__item.active:nth-child(3) & {
			left: -360px;
			top: 200px;
		}
		.reasons__item.active:nth-child(4) & {
			left: 320px;
			top: -400px;
		}
		.reasons__item.active:nth-child(5) & {
			left: -20px;
			top: -400px;
		}
		.reasons__item.active:nth-child(6) & {
			left: -360px;
			top: -400px;
		}
	}
	@include wide {
		margin: 0;
		left: 0;
		top: 0;
		transform-origin: 90% 30px;
		
		.reasons__item:nth-child(2) &,
		.reasons__item:nth-child(3) &,
		.reasons__item:nth-child(4) & {
			left: -100%;
		}

		.reasons__item.active:nth-child(1) & {
			left: 420px;
			top: 200px;
		}
		.reasons__item.active:nth-child(2) & {
			left: -460px;
			top: 200px;
		}
		.reasons__item.active:nth-child(3) & {
			left: -460px;
			top: -100px;
		}
		.reasons__item.active:nth-child(4) & {
			left: -460px;
			top: -400px;
		}
		.reasons__item.active:nth-child(5) & {
			left: 420px;
			top: -400px;
		}
		.reasons__item.active:nth-child(6) & {
			left: 420px;
			top: -100px;
		}
	}

	i {
		border-radius: 100%;
		width: 92px;
		height: 92px;
		display: block;
		background-size: contain;

		@include tablet {
			width: 140px;
			height: 140px;
		}
		@include desktop {
			border-radius: 0;
			width: 190px;
			height: 190px;
			background-color: #ffffff;
			background-size: contain;
		}
	}
}
.reasons__item__content {
	margin-left: 110px;

	@include tablet {
		margin: 0;
	}
}
.reasons__item__title {
	margin-bottom: 10px;

	span {
		color: #000000;
		transition: all 0.3s ease;
		display: inline-block;
		position: relative;
		font-family: $extrabold;
		font-size: 26px;
		line-height: 30px;

		@include desktop {
			color: #333333;

			.reasons__item.active & {
				color: #ff5a5a;
			}
		}

		@include wide {
			border-bottom: 4px solid #cecece;
			
			.reasons__item.active & {
				border-color: #ff5a5a;
			}
		}
	}
}
.reasons__item__desc {
	font-size: 14px;
	color: #000000;

	@include desktop {
		font-size: 15px;
		color: #333333;
	}
}


/* Faq accordion */
@include mobile {
	#faq_reviews {
		&>.container {
			padding: 0;
			position: relative;

			&>.row {
				margin: 0;
				padding: 0;
				width: 100%;

				&>.col {
					padding: 0;
				}
			}
		}
	}
}
.faq__accordion {
	margin: 0 0 30px 0;
	width: 100%;
	background: #ffffff;
	box-shadow: 0 4px 15px rgba(0,0,0,.2);
}
.faq__accordion__item {
	width: 100%;
	border: none !important;
	border-top: 2px solid #e5e5e5 !important;
	background: none;
	padding: 0 15px;
	margin: 0 !important;

	&:first-child {
		border-top: none !important;
	}

	@include tablet {
		padding: 0 20px;
	}
	@include desktop {
		padding: 0 40px;
	}
	@include wide {
		padding: 0 30px;
	}
}
.faq__accordion__item__head {
	width: 100%;
	margin: 0;
	border: none !important;

	a {
		width: 100%;
		font-size: 18px;
		padding: 20px 0;
		padding-right: 30px;
		font-family: $extrabold;
		line-height: 22px;
		color: #171717;
		text-decoration: none;
		border: none;
		display: block;
		position: relative;

		&:active,
		.no-touchevents &:hover {
			text-decoration: none;
			color: inherit;
		}

		&:after {
			content: '\f078';
			display: block;
			position: absolute;
			top: 22px;
			width: 20px;
			height: 20px;
			text-align: right;
			line-height: 16px;
			right: 0;
			font-size: 20px;
			color: #a7a7a7;
			font-family: $awesome;
			transform: rotateX(0deg);
			transition: all 0.5s ease;
		}

		&[aria-expanded="true"]:after {
			color: #171717;
			transform: rotateX(-180deg);
		}
	}
}
.faq__accordion__item__content__body {
	font-size: 15px;
	line-height: 20px;
	padding: 0 0 20px 0;
	width: 100%;
}


/* Reviews slideshow */
.reviews__slides {
	margin: 0 0 30px 0;
	padding: 20px 0;
	width: 100%;
	float: left;
	background: #ffffff;
	box-shadow: 0 4px 15px rgba(0,0,0,.2);
	min-height: 0;
	transition: all 0.3s ease;
	
	@include tablet {
		padding: 30px 0;
	}
	@include desktop {
		padding: 40px 0;
	}

	.swiper-pagination {
		position: relative;
		width: 100%;
		float: left;
		margin: 0;
		padding: 0;
		bottom: 0;
		top: 0;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
		transition: all 0.3s ease;

		@include tablet {
			display: block;
			background: none;
			height: 100%;
			top: 0;
			width: 42px;
			margin: 0;
			transition: all 0.3s ease;

			&:after {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 40px;
				font-size: 40px;
				margin-top: -20px;
				text-align: center;
				color: #cccccc;
				line-height: 40px;
				font-family: $awesome;
				transition: all 0.3s ease;
			}
			&:active:after,
			.no-touchevents &:hover:after {
				color: #171717;
			}
		}
	}
	.swiper-button-next:after {
		content: '\f054';
	}
	.swiper-button-prev:after {
		content: '\f053';
	}
	.swiper-pagination-bullet {
		cursor: pointer;
		width: 16px;
		height: 16px;
		transition: all 0.3s ease;
	}
	.swiper-pagination-bullet-active {
		background-color: #171717;
	}
}
.reviews__slides__wrapper {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	min-height: 0;
}
.reviews__slides__item {
	padding: 0 15px;
	width: 100%;
	float: left;
	min-height: 0;

	@include tablet {
		padding: 0 60px;
	}
}
.reviews__slides__item__top {
	padding: 0 0 20px 0;
	display: block;
	text-decoration: none;
}
.reviews__slides__item__image {
	margin: auto;
	display: table;
	position: relative;
	border-radius: 100%;
	width: 160px;
	height: 160px;
}
.reviews__slides__item__social {
	border: 5px solid #ffffff;
	background: #171717;
	border-radius: 100%;
	width: 46px;
	height: 46px;
	position: absolute;
	right: 0;
	bottom: 0;

	&:after {
		content: '';
		display: block;
		text-align: center;
		color: #ffffff;
		border-radius: 100%;
		width: 100%;
		height: 100%;
		font-size: 20px;
		line-height: 36px;
		font-family: $awesome;
	}
}
.reviews__slides__item__social-vk {
	background: #45688e;
	&:after {
		content: '\f189';
	}
}
.reviews__slides__item__social-fb {
	background: #3B5998;
	&:after {
		content: '\f09a';
	}
}
.reviews__slides__item__name {
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: $extrabold;
	margin-top: 20px;
	color: #171717;
}
.reviews__slides__item__desc {
	font-size: 15px;
	line-height: 19px;
}




/* Download PDF */
.download_pdf {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
	display: none;
}
.download_pdf__link {
	display: block;
	position: relative;
	color: #fa2a2a;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;

	&:active,
	.no-touchevents &:hover {
		color: #fa2a2a;
	}
}
.download_pdf__title {
	font-family: $extrabold;
}
.download_pdf__info {
	height: 20px;
	transition: all 0.3s ease;
	position: relative;

	.download_pdf__link:active &,
	.no-touchevents .download_pdf__link:hover & {
		font-size: 20px;
	}
}


/* Call form block */
.calltoform {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 30px;
	}
	@include desktop {
		margin-bottom: 40px;
	}
}
.calltoform__btn {
	width: 100%;
	max-width: 350px;
	margin-bottom: 10px;
}
.calltoform__desc {
	width: 100%;
	max-width: 300px;
	font-size: 14px;
	line-height: 18px;
	color: #888888;
	margin: auto;
	display: table;
}


/* Contact form block */
.modal_contactform {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 7000;
	display: none;

	&.is-show {
	}

	.container {
		display: block;
		margin: auto;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.modal_contactform__overlay {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0;
	transition: all 0.3s ease;

	.modal_contactform.is-show & {
		opacity: 1;
	}
}
.modal_contactform_inner {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: auto;
	max-width: 700px;
	position: relative;
	z-index: 100;
	opacity: 0;
	transform: scale(0.7);
	transition: all 0.3s ease;

	.modal_contactform.is-show & {
		opacity: 1;
		transform: scale(1);
	}
}
.modal_contactform__btn-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	font-size: 40px;
	color: #cacaca;
	cursor: pointer;
	transition: all 0.1s ease;
	z-index: 100;

	&:active,
	.no-touchevents &:hover {
		color: $color-red !important;
	}
}

.fancybox-container #contactform>.container {
	width: auto;
	padding: 0;
	margin: 0;
}
.contactform__form {
	width: 100%;
	margin: 30px auto 0 auto;
	max-width: 600px;
}
.form-group {
	position: relative;
	margin: 15px 0;
	width: 100%;
	padding: 1px 0 1px 1px;
	float: left;
	transition: all 0.3s ease;
	
	&:before,
	&:after {
		display: none;
	}

	i {
		position: absolute;
		right: 20px;
		top: 10px;
		font-size: 20px;
		color: #bbbbbb;
		transition: all 0.3s ease;
		z-index: 10;
	}
	&.is-focused i {
		color: #36b344;
	}
	&.form-group-text i {
		top: 13px;
		right: 18px;
	}

	&.form-group-text {
		margin-top: 25px;
		border: 2px solid #e5e5e5;

		&.is-focused {
			&:after,
			&:before {
				transform: scale(1);
			}
		}

		&:before,
		&:after {
			display: block;
			z-index: 1;
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			bottom: -2px;
			right: -2px;
			transform: scale(0);
			transition: all 0.3s ease;
		}
		&:before {
			border-bottom: 2px solid #36b344;
			border-left: 2px solid #36b344;
			transform-origin: 0 100%;
		}
		&:after {
			border-top: 2px solid #36b344;
			border-right: 2px solid #36b344;
			transform-origin: 100% 0%;
		}
	}

	&.has-error {
		padding-bottom: 20px;

		i {
			color: $color-red;
		}
		&:before,
		&:after {
			border-color: $color-red !important;
		}
	}

	label.has-error {
		display: block;
		width: 100%;
		color: $color-red;
		font-family: $bold;
		font-size: 13px;
		line-height: 18px;
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.form-label {
	font-family: $medium;
	position: absolute;
	top: -13px;
	left: 0;
	transition: all 0.3s ease;
	color: #171717;
	font-size: 14px;
	line-height: 16px;
	z-index: 10;
	
	&:focus {
		outline: none;
	}

	.form-group.is-empty & {
		top: 13px;
		left: 20px;
		font-size: 16px;
		color: #bbbbbb;
	}
	.form-group.is-focused & {
		top: -13px;
		left: 0;
		color: #171717;
		font-size: 14px;
	}

	.form-group-text & {
		top: -23px;
	}
	.form-group-text.is-focused & {
		top: -23px;
	}
}

input.form-control {
	display: inline-block;
	border-radius: 0;
	background: #ffffff;
	width: 100%;
	border: none;
	height: 40px;
	padding: 0 60px 0 20px;
	font-size: 16px;
	line-height: 30px;
	font-family: $medium;
	box-shadow: none !important;
	position: relative;
	color: #171717;
	background-color: transparent;
    background: no-repeat bottom,50% calc(100%);
    background-size: 0 100%, 100% 100%;
    background-image: linear-gradient(0deg,#36b344 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,#e5e5e5 2px,transparent 0);
    z-index: 5;
    box-sizing: border-box;

	.form-group.has-error &,
	&:focus {
		transition: all 0.3s ease;
		outline: none;
		box-shadow: none !important;
		background-size: 100% 100%, 100% 100%;
	}

	.form-group.has-error & {
		background-image: linear-gradient(0deg,$color-red 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,#e5e5e5 2px,transparent 0);
	}

	&[disabled] {
		color: #bbbbbb;
		background-color: #ffffff;
	}
}
textarea.form-control {
	border-radius: 0;
	background: #ffffff;
	width: 100%;
	border: none !important;
	padding: 10px 40px 10px 20px;
	font-size: 16px;
	line-height: 20px;
	font-family: $medium;
	box-shadow: none !important;
	position: relative;
	z-index: 5;
	box-sizing: border-box;

	&:focus {
		transition: all 0.3s ease !important;
		outline: none !important;
		border-color: #36b344 !important;
		box-shadow: none !important;
	}
	.contactform__form & {
		resize: none;
	}

	&[disabled] {
		color: #bbbbbb;
		background-color: #ffffff;
	}
}

.contactform__bottom {
	width: 100%;
	float: left;
	margin: 10px 0 0 0;
}

$contactform_btn_bgcolor: #cccccc;
$contactform_btn_color: #999999;
$contactform_btn_color_hover: #171717;
.contactform__file_cnt {
	width: 270px;
	margin: 0 auto 20px auto;

	@include tablet {
		width: 270px;
	}
}
.contactform__file {
	cursor: pointer;
	margin: 0 auto;
	float: none;
	width: 100%;
	height: 50px;
	position: relative;
	background: #ffffff;
	overflow: hidden;
	border: 2px dashed #d7d7d7;
	transition: all 0.5s ease;

	@include tablet {
		height: 69px;
	}
	
	&.is-attached {
		cursor: default;
		height: 140px;
	}
	&.has-error {
		background: lighten($color-red, 40%);
	}

	&.is-focused i {
		color: $contactform_btn_color_hover;
	}
	input {
		visibility: hidden;
		position: absolute;
		left: -9999px;
		top: -9999px;
		-webkit-appearence: none;
	}
	label.has-error {
		margin: 0;
		text-align: center;
		padding: 4px 10px;
	}
}
.contactform__file.is-empty .contactform__file__add,
.contactform__file.is-focused .contactform__file__add,
.contactform__file__add {
	cursor: pointer;
	font-size: 14px;
	width: 100% !important;
	height: 100%;
	position: absolute;
	display: flex;
	flex: display;
	align-items: center;
	justify-content: center;
	align-content: center;
	float: none;
	transition: all 0.3s ease;
	top: 0;
	left: 0;

	&:active,
	.no-touchevents &:hover {
		i.fa,
		span {
			color: $contactform_btn_color_hover;
		}
	}

	.contactform__file.is-attached & {
		display: none;
	}

	&:before,
	&:after {
		display: none;
	}

	span {
		color: $contactform_btn_color;
		display: inline-block;
		vertical-align: middle;
		transition: all 0.3s ease;
	}
	i.fa {
		color: $contactform_btn_color;
		transition: all 0.3s ease;
		margin: 0 0 0 5px !important;
		left: 0 !important;
		top: -3px !important;
		vertical-align: middle;
		font-size: 24px !important;
		line-height: inherit !important;
		position: relative !important;
		display: inline-block !important;
	}

	.is-disabled>& i,
	.is-disabled>& span {
		color: $contactform_btn_color !important;
	}
	.is-disabled>& {
		color: $contactform_btn_color !important;
		cursor: not-allowed !important;
	}
}
.contactform__file__del {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	height: 100%;
	border: none;
	line-height: 30px;
	font-size: 14px;
	color: $contactform_btn_color;
	transition: all 0.3s ease;
	cursor: pointer;

	&:active,
	.no-touchevents &:hover {
		color: $color-red;

		i.fa {
			color: $color-red;
		}
	}

	.contactform__file.is-attached & {
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.is-disabled>& i,
	.is-disabled>& span {
		color: $contactform_btn_color !important;
	}
	.is-disabled>& {
		color: $contactform_btn_color !important;
		cursor: not-allowed !important;
	}
}
.contactform__file__del__info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: #ffffff;
	padding: 0 15px;

	span {
		font-family: $black;
	}
	i.fa {
		top: 0;
		right: 15px;
		line-height: 30px;
	}
}
.contactform__file__loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	height: 50px;
	z-index: 50;
	text-align: center;
	background: #ffffff;
	display: none;

	@include tablet {
		height: 70px;
	}

	.contactform__file.is-loading & {
		display: block;
	}

	i {
		position: relative;
		left: 0;
		top: 0;
		font-size: 24px;
		line-height: 44px;
		animation: rotate 1.5s linear infinite;
		transform-origin: 50%;

		@include tablet {
			line-height: 64px;
		}
	}
}

.grecaptcha-badge {
	display: none;
}
.contactform__cnt-btns {
	width: 100%;
	float: left;
	height: 80px;
	// height: 180px;
	position: relative;
	text-align: center;
	overflow: hidden;
}
.contactform__cnt-captcha {
	width: 100%;
	height: 80px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s ease;
	transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
	transform-origin: 50% 0;
	animation-delay: 0.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;

	&.is-animated {
		animation-name: contactform-captcha;
	}
}
@keyframes contactform-captcha {
	from {
		transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
		animation-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
		opacity: 1;
	}
	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
	}
	to {
		transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
		opacity: 1;
	}
}
#contactform__captcha {
	position: absolute;
	left: 50%;
	margin: 0 !important;
	margin-left: -152px !important;
	top: 0;
	transition: all 0.3s ease;
	transform: scale(0.89);

	&>div {
		overflow: hidden !important;
	}
}
.contactform__cnt-btn {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	text-align: center;
	overflow: hidden;
	transition: all 0.5s ease;
	transform-origin: 50% 0;
	
	&.is-animated {
		transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
		animation-timing-function: ease;
	}
}
.contactform__btn-submit {
	width: 270px;
	max-width: 270px;
	display: inline-block;
	border-width: 2px;
	color: $contactform_btn_color_hover;
}


/* Footer */
.footer {
	float: left;
	margin: 0 0 60px 0;
	display: none;
	width: 100%;

	@include tablet {
		&>.container {
			display: table;
		}
	}

	body.is-first & {
		display: none;
	}
	body.is-exterior &,
	body.is-interior & {
		display: block;
	}
}
.footer__contacts {
	text-align: center;

	@include tablet {
		text-align: left;
		float: none;
		width: 400px;
		display: table-cell;
		flex-direction: initial;
	}
}
.footer__phones {
	position: relative;
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 10px;
	}
}
.footer__phones__item {
	font-size: 25px;
	color: #171717;
	line-height: 30px;
	font-family: $black;
	text-decoration: none;
	display: block;
	transition: all .3s ease;

	@include tablet {
		display: inline-block;

		&:first-child:after {
			content: ", ";
			width: 10px;
			height: 10px;
			position: relative;
			display: inline-block;
		}
	}
}
.footer__person {
	font-size: 45px;
	font-family: $black;
	color: #7e7e7e;
	line-height: 45px;
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 0;
	}
}
.social-footer {
	@include tablet {
		max-width: 100%;
		width: auto;
		text-align: right;
		float: none;
		display: table-cell;
		flex-direction: initial;
	}
}
.social-footer .social_inner {
	max-width: 240px;

	@include tablet {
		text-align: right;
		max-width: 100%;
		width: auto;
		display: block;
	}
}
.social-footer .social__item {
	width: 35px;
	height: 35px;

	@include tablet {
		display: inline-block;
		margin-left: 10px;
	}

	i.icon {
		width: 35px;
		height: 35px;
		background-size: contain;
	}
}


/* CUstom styles for sweet alers */
.swal2-container.swal2-shown {
	background: rgba(30,30,30,.87);
}
.swal2-modal.swal2-show {
	border-radius: 0;
}


/* Parallax */
.parallax_cnt {
	display: none;

	@include wide {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;

		.rellax {
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
			z-index: -1;
			left: 50%;
		}
		.parallax-1 {
			top: 1300px;
			margin-left: -900px;
			width: 330px;
			height: 290px;
			background-image: url('../img/parallax-1.png');
		}
		.parallax-2 {
			top: 1700px;
			margin-left: 500px;
			width: 500px;
			height: 510px;
			background-image: url('../img/parallax-2.png');
		}
		.parallax-3 {
			top: 2300px;
			margin-left: -900px;
			width: 440px;
			height: 320px;
			background-image: url('../img/parallax-3.png');
		}
		.parallax-4 {
			top: 2900px;
			margin-left: -1300px;
			width: 920px;
			height: 670px;
			background-image: url('../img/parallax-4.png');
		}
		.parallax-5 {
			top: 3800px;
			margin-left: 530px;
			width: 510px;
			height: 440px;
			background-image: url('../img/parallax-5.png');
		}
		.parallax-6 {
			top: 4400px;
			margin-left: -1050px;
			width: 530px;
			height: 590px;
			background-image: url('../img/parallax-6.png');
		}
		.parallax-7 {
			top: 5400px;
			margin-left: 530px;
			width: 490px;
			height: 490px;
			background-image: url('../img/parallax-7.png');
		}
	}
}


/* Bottom change type block */
.changetype {
	width: 100%;
	float: left;
	margin-bottom: 50px;
}

.changetype__block {
	position: relative;
	padding: 80px 0;
	width: 100%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transform: perspective(1px) translateZ(0);

	&:after,
	&:before {
		content: '';
		display: block; 
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		opacity: 0.3;
		background-color: rgba(57,204,202,0);
		@include filter-gradient(#39ccca, #000000, vertical);
		@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(0,0,0,1) 100%));

		@include wide {
			display: none;
		}
	}
	&:after {
		opacity: 0.6;
	}

	.changetype.interior & {
		background-image: url('../img/bg-exterior-bottom.jpg');
		
		.changetype__block__inner:after,
		&:after {
			background-color: rgba(57,204,202,0);
			@include filter-gradient(#39ccca, #0069b4, vertical);
			@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(0,105,180,1) 100%));
		}
	}
	.changetype.exterior & {
		background-image: url('../img/bg-interior-bottom.jpg');
		
		.changetype__block__inner:after,
		&:after {
			background-color: rgba(57,204,202,0);
			@include filter-gradient(#39ccca, #fa2a2a, vertical);
			@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(250,42,42,1) 100%));
		}
	}
}
.changetype__block__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	float: left;

	&:after,
	&:before {
		content: '';
		display: block; 
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		opacity: 0.3;
		background-color: rgba(57,204,202,0);
		@include filter-gradient(#39ccca, #000000, vertical);
		@include background-image(linear-gradient(top, rgba(57,204,202,0) 0%, rgba(0,0,0,1) 100%));
	}
	&:after {
		opacity: 0.6;
	}
}

.changetype__block__info {
	position: relative;

	@include desktop {
		width: 420px;
		transition: all 0.3s ease;
	}
}
.changetype__block__content {
	background: #ffffff;
	width: 100%;
	float: none;
	padding: 25px;
	font-size: 18px;
	line-height: 22px;
	font-family:  $medium;
	text-align: center;
	position: relative;
	z-index: 10;
	padding-bottom: 50px;
	max-width: 420px;
	margin: auto;
	display: table;
	transition: all 0.3s ease;

	@include tablet {
		max-width: 520px;
		padding: 35px;
		padding-bottom: 65px;
	}

	span {
		font-size: 18px;
		line-height: 22px;
		font-family:  $medium;

		@include tablet {
			font-size: 22px;
			line-height: 26px;
		}
	}
}

.changetype__block__btn {
	cursor: pointer;
	position: absolute;
	display: block;
	z-index: 20;
	height: 60px;
	line-height: 43px;
	font-size: 25px;
	font-family: $black;
	bottom: -30px;
	left: 20px;
	background: #ffffff;
	border: 3px solid #ffffff;
	text-transform: uppercase;
	color: #171717;
	letter-spacing: 3px;
	width: calc( 100% - 40px );
	transform: perspective(1px) translateZ(0);
	transition: all 0.3s ease;
	text-decoration: none !important;
	z-index: 100;

	@include tablet {
		width: 200px;
		left: 50%;
		margin-left: -100px;
	}

	&:active,
	.no-touchevents &:hover {
		color: #171717 !important;
		border: 3px solid inherit !important;
		text-decoration: none;
	}

	&:before {
		content: '';
		position: absolute;
		border: 6px solid transparent;
		top: -6px;
		right: -6px;
		bottom: -6px;
		left: -6px;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		z-index: -1;
		opacity: 0;
	}
	.changetype__block:active &:before,
	.no-touchevents .changetype__block:hover &:before {
		opacity: 1;
		animation-duration: 3s;
		animation-name: hover-ripple-out-delay;
	}
	.touchevents &:before {
		opacity: 1;
		animation-duration: 3s;
		animation-name: hover-ripple-out-delay;
	}

	.changetype.interior & {
		border-color: #0068b4 !important;
	}
	.changetype.exterior & {
		border-color: #fa2a2a !important;
	}

	.changetype.interior &:before,
	.no-touchevents .changetype.interior &:before {
		border-color: #0068b4;
		color: #0068b4 !important;
	}
	.changetype.exterior &:before,
	.no-touchevents .changetype.exterior &:before {
		border-color: #fa2a2a;
		color: #fa2a2a !important;
	}

	.changetype.interior &:active,
	.no-touchevents .changetype.interior &:hover {
		color: #0068b4 !important;
	}
	.changetype.exterior &:active,
	.no-touchevents .changetype.exterior &:hover {
		color: #fa2a2a !important;
	}
}


