
@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),  url('Gilroy-Extrabold.otf')  format('opentype'),
	     url('Gilroy-Extrabold.woff') format('woff'), url('Gilroy-Extrabold.ttf')  format('truetype'), url('Gilroy-Extrabold.svg#Gilroy-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
