
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),  url('Gilroy-Semibold.otf')  format('opentype'),
	     url('Gilroy-Semibold.woff') format('woff'), url('Gilroy-Semibold.ttf')  format('truetype'), url('Gilroy-Semibold.svg#Gilroy-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
